#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

.navbar {
  margin-bottom:80px !important;
}

.navbar > a{
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.container-login-form{
  width: 30% !important;
}

.jumbotron-question {
  max-height: 500px;
  min-height: 300px;
  max-width: 50%; 
  min-width: 40%;
  margin: auto;
  margin-top: 30px ;

}

.btn-randomQuiz{
  max-height: 50px;
  min-height: 40px;
  max-width: 40%; 
  min-width: 30%;
  margin-top: 30px;

}

.jumbotron-answer {
  max-height: 80px;
  min-height: 70px;
  max-width: 100%; 
  min-width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

.match-stats{
  border-style: solid;
  padding: 5px;
  border-color: lightblue;
}


@media (min-width: 768px){
  .navbar {
    border-radius: 0px;
  }
}

